# Some covid stats

In [1]:
import pandas
import numpy as np

In [5]:
df = pandas.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-06-2020.csv')
df['Confirmed'] = df['Confirmed'].astype(int)
df['Deaths'] = df['Deaths'].astype(int)
df['Recovered'] = df['Recovered'].astype(int)
print(df['Deaths'].sum())
df = df[df['Country_Region'] == 'US']

74565

In [6]:
def render_grouping(col):
    df2 = df.groupby(col).sum().sort_values(by=['Confirmed'], ascending=False)
    df2["Row #"] = np.arange(len(df2)) + 1
    return df2.filter(items=['Row #', 'Confirmed', 'Deaths', 'Recovered'])

Here we have grouped by US state

In [4]:
render_grouping('Province_State')

                          Row #  Confirmed  Deaths  Recovered
Province_State
New York                      1     131815    4698          0
New Jersey                    2      41090    1003          0
Michigan                      3      17221     727          0
California                    4      16019     380          0
Louisiana                     5      14867     512          0
Massachusetts                 6      13837     260          0
Florida                       7      13324     236          0
Pennsylvania                  8      13127     179          0
Illinois                      9      12262     307          0
Washington                   10       8311     381          0
Texas                        11       8043     150          0
Georgia                      12       7314     229          0
Connecticut                  13       6906     206          0
Colorado                     14       5183     150          0
Indiana                      15       4956     143          0
Ohio                         16       4453     142          0
Maryland                     17       4045      91          0
Tennessee                    18       3802      65          0
North Carolina               19       2962      45          0
Virginia                     20       2878      66          0
Missouri                     21       2736      47          0
Arizona                      22       2732      65          0
Wisconsin                    23       2449      78          0
South Carolina               24       2232      48          0
Nevada                       25       1953      46          0
Alabama                      26       1952      49          0
Mississippi                  27       1738      51          0
Utah                         28       1685      13          0
Oklahoma                     29       1329      51          0
Idaho                        30       1101      10          0
District of Columbia         31       1097      24          0
Rhode Island                 32       1082      27          0
Oregon                       33       1068      27          0
Minnesota                    34        986      30          0
Kentucky                     35        955      45          0
Iowa                         36        946      25          0
Arkansas                     37        875      16          0
Kansas                       38        849      25          0
Delaware                     39        783      15          0
New Mexico                   40        757      12          0
New Hampshire                41        715       9          0
Vermont                      42        543      23          0
Puerto Rico                  43        513      21          0
Maine                        44        499      10          0
Nebraska                     45        417       9          0
Hawaii                       46        387       5          0
West Virginia                47        345       4          0
Montana                      48        299       6          0
South Dakota                 49        288       4          0
North Dakota                 50        225       3          0
Wyoming                      51        210       0          0
Alaska                       52        190       6          0
Guam                         53        113       4          0
Grand Princess               54        103       3          0
Diamond Princess             55         49       0          0
Virgin Islands               56         43       1          0
Northern Mariana Islands     57          8       1          0
Recovered                    58          0       0      19581

Grouping by us cities

In [5]:
render_grouping('Combined_Key').head(50)

,Row #,Confirmed,Deaths,Recovered
Combined_Key,,,,
"New York City, New York, US",1,67551,2256,0
"Nassau, New York, US",2,14398,162,0
"Westchester, New York, US",3,13723,67,0
"Suffolk, New York, US",4,13129,175,0
"Cook, Illinois, US",5,8034,186,0
"Wayne,Michigan,US",6,7518,293,0
"Bergen, New Jersey, US",7,6187,189,0
"Los Angeles, California, US",8,5955,132,0
"Rockland, New York, US",9,5326,69,0
"Miami-Dade, Florida, US",10,4146,31,0
"Essex, New Jersey, US",11,4082,172,0
"Orleans, Louisiana, US",12,4066,161,0
"Hudson, New Jersey, US",13,3924,87,0
"Unassigned, New Jersey, US",14,3821,13,0
"Passaic, New Jersey, US",15,3227,42,0
"Union, New Jersey, US",16,3216,71,0
"Philadelphia, Pennsylvania, US",17,3189,28,0
"Orange, New York, US",18,3187,53,0
"King, Washington, US",19,3167,208,0
"Jefferson, Louisiana, US",20,3088,113,0
"Fairfield, Connecticut, US",21,3050,96,0
"Oakland, Michigan, US",22,3035,163,0
"Middlesex, New Jersey, US",23,2950,80,0
"Suffolk, Massachusetts, US",24,2658,27,0
"Middlesex, Massachusetts, US",25,2632,41,0
"Monmouth, New Jersey, US",26,2354,58,0
"Ocean, New Jersey, US",27,2177,62,0
"Macomb, Michigan, US",28,2003,83,0
"Broward, Florida, US",29,1886,40,0
"Morris, New Jersey, US",30,1800,55,0
"Marion, Indiana, US",31,1760,37,0
"Snohomish, Washington, US",32,1559,48,0
"Clark, Nevada, US",33,1519,41,0
"Essex, Massachusetts, US",34,1506,27,0
"Harris,Texas,US",35,1395,20,0
"Maricopa, Arizona, US",36,1326,31,0
"Norfolk, Massachusetts, US",37,1271,26,0
"San Diego, California, US",38,1209,18,0
"Santa Clara, California, US",39,1207,39,0
"Milwaukee, Wisconsin, US",40,1190,39,0
"New Haven, Connecticut, US",41,1162,36,0
"Dallas, Texas, US",42,1112,18,0
"Montgomery, Pennsylvania, US",43,1111,18,0
"Dutchess, New York, US",44,1077,8,0
"Erie, New York, US",45,1059,27,0
"District of Columbia,District of Columbia,US",46,1002,22,0
"Palm Beach, Florida, US",47,1000,49,0
"Worcester, Massachusetts, US",48,978,17,0
"Plymouth, Massachusetts, US",49,963,10,0
"Fulton, Georgia, US",50,962,27,0